<div>
  <h2>Showcase 4: Retrieving API Data</h2>
  <p>This example demonstrates fetching data from the server. The data is hard-coded in the API, so we haven't interacted with the database just yet.</p>

  <h3 id="tableLabel">Weather forecast</h3>
  <p *ngIf="!forecasts"><em>Loading...</em></p>

  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
    <thead>
      <tr>
        <th>Date</th>
        <th>Temp. (C)</th>
        <th>Temp. (F)</th>
        <th>Summary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let forecast of forecasts">
        <td>{{ forecast.date }}</td>
        <td>{{ forecast.temperatureC }}</td>
        <td>{{ forecast.temperatureF }}</td>
        <td>{{ forecast.summary }}</td>
      </tr>
    </tbody>
  </table>
<div>